# Ignore environment files
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook files
*.ipynb

# Ignore virtual environment
venv/

# Ignore IDE-specific files
.vscode/
.idea/